In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/linearregressiontest/WestRoxbury.csv

In [2]:
import numpy as np
import pandas as pd
from sklearn.linear_model import LinearRegression

In [3]:
housing_df=pd.read_csv('../input/linearregressiontest/WestRoxbury.csv')
housing_df.columns

Index(['TOTAL VALUE ', 'TAX', 'LOT SQFT ', 'YR BUILT', 'GROSS AREA ',
       'LIVING AREA', 'FLOORS ', 'ROOMS', 'BEDROOMS ', 'FULL BATH',
       'HALF BATH', 'KITCHEN', 'FIREPLACE', 'REMODEL'],
      dtype='object')

In [4]:
housing_df.columns=[s.strip().replace(' ','_') for s in housing_df.columns]

In [5]:
housing_df.columns

Index(['TOTAL_VALUE', 'TAX', 'LOT_SQFT', 'YR_BUILT', 'GROSS_AREA',
       'LIVING_AREA', 'FLOORS', 'ROOMS', 'BEDROOMS', 'FULL_BATH', 'HALF_BATH',
       'KITCHEN', 'FIREPLACE', 'REMODEL'],
      dtype='object')

In [6]:
housing_df.head(2)

,TOTAL_VALUE,TAX,LOT_SQFT,YR_BUILT,GROSS_AREA,LIVING_AREA,FLOORS,ROOMS,BEDROOMS,FULL_BATH,HALF_BATH,KITCHEN,FIREPLACE,REMODEL
0,344.2,4330,9965,1880,2436,1352,2.0,6,3,1,1,1,0,None
1,412.6,5190,6590,1945,3108,1976,2.0,10,4,2,1,1,0,Recent

In [7]:
housing_df=pd.get_dummies(housing_df,prefix_sep='_',drop_first=True)
housing_df.head(2)

,TOTAL_VALUE,TAX,LOT_SQFT,YR_BUILT,GROSS_AREA,LIVING_AREA,FLOORS,ROOMS,BEDROOMS,FULL_BATH,HALF_BATH,KITCHEN,FIREPLACE,REMODEL_Old,REMODEL_Recent
0,344.2,4330,9965,1880,2436,1352,2.0,6,3,1,1,1,0,0,0
1,412.6,5190,6590,1945,3108,1976,2.0,10,4,2,1,1,0,0,1

In [8]:
#creat list of perdictors and outcome
excludeColumns=('TOTAL_VALUE','TAX')
predictors=[s for s in housing_df.columns if s not in excludeColumns]
outcome='TOTAL_VALUE'

In [9]:
#partition data
from sklearn.model_selection import train_test_split
x=housing_df[predictors]
y=housing_df[outcome]
train_x,valid_x,train_y,valid_y= train_test_split(x,y,test_size=0.4,random_state=1)

In [10]:
model=LinearRegression()
model.fit(train_x,train_y)
train_pred=model.predict(train_x)
train_results=pd.DataFrame({'TOTAL_VALUE':train_y,'predicted':train_pred,'residual':train_y-train_pred})
train_results.head()

      TOTAL_VALUE   predicted   residual
2024        392.0  387.726258   4.273742
5140        476.3  430.785540  45.514460
5259        367.4  384.042952 -16.642952
421         350.3  369.005551 -18.705551
1401        348.1  314.725722  33.374278

In [11]:
valid_pred=model.predict(valid_x)
valid_results=pd.DataFrame({'TOTAL_VALUE':valid_y,'predicted':valid_pred,'residual':valid_y-valid_pred})
valid_results.head()

      TOTAL_VALUE   predicted   residual
1822        462.0  406.946377  55.053623
1998        370.4  362.888928   7.511072
5126        407.4  390.287208  17.112792
808         316.1  382.470203 -66.370203
4034        393.2  434.334998 -41.134998

In [12]:
from sklearn.metrics import mean_absolute_error
valid_pred_mae = mean_absolute_error(valid_pred, valid_y)
print("Validation MAE for Liner Regression: {:,.0f}".format(valid_pred_mae))

Validation MAE for Liner Regression: 32